.content.wrapper {
    background: 0 0;
    margin-top: 50px;
    text-align: center
}

#content .main-search {
    margin: 0 auto;
    max-width: 600px;
    width: 100%
}

#content .sub-links {
    text-align: left;
    margin: 10px 5px
}

#content .sub-links a {
    color: #ddd;
    margin: 0 5px
}

#content #search-button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    background: #443b6d;
    border-radius: 0 3px 3px 0;
    color: #b0a5e2;
    padding: 4px
}

#content #search-button:hover {
    text-decoration: none;
    background: #181923
}

#content #search-box input {
    height: 50px;
    background: #eee;
    color: #000 !important;
    font-size: 15px;
    border-radius: 0 !important
}

#content div#search-box {
    height: 50px;
    border-radius: 3px 0 0 3px !important
}

#content a.logo-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
    height: 80px;
    background-size: 100%
}

#content .inlinelike {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    text-align: left;
    line-height: 25px;
    height: auto;
    overflow: visible
}

#content .home-buttons {
    margin-top: 40px;
    margin-bottom: 200px;
    display: block
}

#content a.home-page {
    width: 180px;
    outline: 0;
    font-size: 20px;
    background: #443b6d;
    color: #b0a5e2;
    padding: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #443b6d;
    transition: .3s
}

#content a.home-page:hover {
    text-decoration: none;
    background: #362f58;
    transition: .3s;
    border: 1px solid #362f58
}

#content a.home-page.lucky {
    border: 1px solid #b0a5e2;
    background: 0 0;
    color: #b0a5e2;
    transition: .3s
}

#content a.home-page.lucky:hover {
    border: 1px solid #443b6d;
    background: #443b6d;
    color: #b0a5e2;
    transition: .3s
}

#content h1 {
    font-size: 38px;
    max-width: 600px;
    text-align: left;
    margin: 40px auto
}

.info-content {
    max-width: 600px;
    margin: -120px auto 150px;
    width: 100%
}

.info-content>.small-text {
    font-size: 13px;
    line-height: 18px;
    margin-top: -170px;
    font-weight: 700
}

.info-content>.small-text>a {
    color: #fff
}

.a2a_default_style {
    display: inline-block
}

.a2a_svg {
    width: 20px !important;
    height: 20px !important
}

@media only screen and (max-width:1320px) {
    .sub-menu {
        display: none
    }
    .sub-menu li {
        width: 50% !important
    }
    .menu-item>a {
        background: #181923 !important
    }
    #content #search-form {
        margin: 0 !important
    }
}

@media only screen and (max-width:450px) {
    .inlinelike {
        min-height: 45px
    }
}